<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>srvPreIns</servlet-name>
  	<servlet-class>com.desafiolatam.servlets.PreInscripcion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>srvPreCon</servlet-name>
  	<servlet-class>com.desafiolatam.servlets.PreConfirmacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>srvPosIns</servlet-name>
  	<servlet-class>com.desafiolatam.servlets.PosInscripcion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>srvPosIns</servlet-name>
  	<url-pattern>/srvPosIns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>srvPreCon</servlet-name>
  	<url-pattern>/srvPreCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>srvPreIns</servlet-name>
  	<url-pattern>/srvPreIns</url-pattern>
  </servlet-mapping>
</web-app>
